 /*
 The main color theme of the background is: #F4FCDF
 The color of the nav bar is: #3FCE78 with text color: #FFFFFF
 The color of any buttons uses the .roundedcorners and has the color: #6FFF6C;
  */
.flexrow
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
}
.flex
{
    display: flex;
}
.box
{
    border-style: solid;
}
.roundedcorners
{
    border-radius: 25px;
    background: #6FFF6C;
    padding: 20px;
    width: 1200px;
    height: 200px;
}
.navbar
{
    background: #3FCE78;
    color: #FFFFFF;
}
.margin {
    margin: 20px;
}


.opret-virksomhed {
    margin: auto;
    width: 30%;
    border: 3px solid black;
    padding: 10px;
    background-color: #3FCE78;
}
.marginzero {
    margin: 0px;
}
.background {
    background-color: #F4FCDF;

}