 /*
 The main color theme of the background is: #F4FCDF
 The color of the nav bar is: #3FCE78 with text color: #FFFFFF
 The color of any buttons uses the .roundedcorners and has the color: #6FFF6C;
  */
 main
 {
 padding-top: 100px;
 }
.flexrow {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
 .flexcollumn {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
 }
.flex
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.box
{
    border-style: solid;
}
.roundedcorners
{
    border-radius: 25px;
    background: #ADD8E6;
    padding: 20px;
    width: 240px;
    height: 180px;
    margin: 10px;
}
.margin {
    margin: 20px;
}
 .opret-virksomhed {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 30%;
    border: 3px solid black;
    padding: 10px;
    background-color: #3FCE78;
}
.marginzero {
    margin: 0px;
}
.background {
    background-color: #F4FCDF;
    padding: 0px;
    margin: 0px;
}

footer{
    position: center;
    bottom: 0;
    width: 100%;
    height: 60px; /* adjust height as needed */
    background-color: darkgreen; /* adjust background color as needed */
    <!--margin-top: auto;-->
}

.footerflex{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    border: solid;
    background-color: darkgreen; /* adjust background color as needed */
}
 body{
     font-family: serif;
     height: 100%;
 }
 header{
     position: fixed;
 }
 .nav{
     position: fixed;
     top: 0;
     left: 0;
     z-index: 9999;
     background: #0082e6;
     height: 80px;
     width: 100%;
 }
 label.logo{
     color: white;
     font-size: 35px;
     line-height: 80px;
     padding: 0 100px;
     font-weight: bold;
 }
 nav ul{
     float: right;
     margin-right: 500px;
 }
 nav ul li{
     display: inline-block;
     line-height: 80px;
     margin: 0 25px;
 }
 nav ul li a{
     color: white;
     font-size: 17px;
     text-transform: uppercase;
 }
 a:hover{
     background: #1b9bff;
     transition: .5s;
 }
 .button1{
     font-size: 15px;
     height: 35px;
     width: 75px;
     background: white;
     border-radius: 20px;
     text-align: center;
     position: relative;
     left: 60%;
     top: -5px;
 }

 .button2{
     font-size: 15px;
     height: 35px;
     width: 75px;
     background: white;
     border-radius: 20px;
     text-align: center;
     position: relative;
     left: 61%;
     top: -5px;
 }
.textcenter {
    text-align: center;
}
.centerpicture {
    display: block;
    margin: auto;
    width: 50%;

}
.column{
    flex: 33.33%;
    padding: 5px;
}
.row{
    display:flex;
    padding-top: 50px;

}
.textbox3{
    width: auto;
    background: white;
    border: 15px solid dodgerblue;
    padding: 50px;
    margin: 20px;
    height: 150px;
}
.textbox2{
    width: 300px;
    background: white;
    border: 15px solid dodgerblue;
    padding: 50px;
    margin-left: 35%;

}
 .locationspicture
 {
     display: flex;
     justify-content: center;
     align-content: center;
     width: available;
     height: available;
     margin: 20px;
 }

/* Structure for Info side - menu and textboxes */
.privatcontainer{
    display: flex;
    height: 700px;
    width: 100%;
    flex-direction: column;
}

.overskrift{
    text-align: center;
    font-size: 35px;
}
.outercontainer{
    position: relative;
    left: 400px;
    width: 245px;
    height: 279px;
    border: 1px solid black;
    margin: 2px;
}

.item{
    width: 240px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    font-size: 17px;
    text-align: center;
    padding-top: 15px;
}

.textbox{
    position: relative;
    top: -279px;
    left: 250px;
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 2px;
    font-size: 12px;
    text-align: start;
}
/* Info Side done */

