.flex
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box
{
    border-style: solid;
}
.roundedcorners
{
    border-radius: 25px;
    background: yellowgreen;
    padding: 20px;
    width: 1200px;
    height: 200px;
}
.roundedcornersbar
{
    border-radius: 25px;
    color: #FFFFFF;
    background: #3FCE78;
    padding: 20px;
    width: 1200px;
    height: 40px;
}
.navbar
{
    background: #3FCE78;
    color: #FFFFFF;
}
.margin {
    margin: 20px;
}
.marginzero {
    margin: 0px;
}
.background {
    background-color:  #F4FCDF;
}