<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cssstyles.css" th:href="@{css/cssstyles.css}">
    <title>Title</title>
</head>
<body class="background">
    <nav class="nav">
        <label class="logo">StillGood</label>
        <button class="button button1">Contact</button>
        <button class="button button2">Login</button>
            <ul>
            <li><a th:href="@{/tipstilindkob}" href="tipstilindkob.html">Privat</a></li>
            <li><a th:href="@{/opret-virksomhed}" href="opret-virksomhed.html">Virksomhed</a></li>
            <li><a th:href="@{/#sponsorlink}" href="forside.html">Sponsor</a></li>
            </ul>

    </nav>
<main>

    <h1 class="textcenter">Danmark mod madspild</h1>
    <div class="row">
    <div class="column">
    <p class=" textbox3">
        Danskere spilder desværre en stor mængde mad hvert år. Ifølge Miljø- og Fødevareministeriet bliver omkring 700.000 tons mad smidt ud hvert år i Danmark. Dette svarer til ca. 100 kg mad pr. person. Madspildet sker både i private husholdninger, i restauranter og i supermarkeder.
    </p>
    </div>
    <div class="column">
    <p class="textbox3">
        Regeringen og Still Good arbejder på at bekæmpe madspild i Danmark. Der er fokus på at øge bevidstheden om problemet og at oplyse om, hvordan man kan mindske sit eget madspild i hverdagen. Der er også en indsats for at få supermarkeder til at donere overskudsmad til velgørende organisationer og madbanker.
    </p>
    </div>
    <div class="column">
    <p class=" textbox3">
        Det er vigtigt at mindske madspild af hensyn til både miljøet og samfundsøkonomien. Når mad bliver smidt ud, går alle de ressourcer, der er brugt til at producere og transportere den, tabt. Derudover udleder madspildet drivhusgasser, når det ender på lossepladsen. Derfor er det vigtigt at huske på, at små tiltag i hverdagen kan gøre en stor forskel for at mindske madspildet i Danmark.
    </p>
    </div>
    </div>

    <h1 class="textcenter">Still Good</h1>
    <div class="textcenter">
        <p class="textbox2">Still Good er en af de organisationer der arbejder med Regeringen om at minske madspild i Danmark, vi arbehder på at samle spild mad fra detailvirksomheder og levere det til madbanker i Danmarks kommuner for at gøre det let for befolkningen at handle billigt mad og minske madspild</p>
    </div>
<!--billeder-->
<h1 style="font-size:4vw; font-family: Broadway "  class="textcenter" id="sponsorlink">Sponsorer</h1>
        <div  class="row">

    <div class="column, centerpicture">
<img class="centerpicture"  th:src="@{image/regionhovedstaden.png}" src="..\static\css\images\regionhovedstaden.png" style="width:75%;">
    </div>

    <div class="column, centerpicture">
<img class="centerpicture" th:src="@{image/netto-logo.png}" src="..\static\css\images\netto-logo.png" >
    </div>

    <div class="column, centerpicture">
<img class="centerpicture" th:src="@{image/føtex-logo.png}" src="..\static\css\images\føtex-logo.png" >
    </div>

    </div>

    <div class="row">
    <div class="column, centerpicture">
<img class="centerpicture"  th:src="@{image/cooplogo.png}" src="..\static\css\images\cooplogo.png" >
    </div>

    <div class="column, centerpicture">
<img class="centerpicture" th:src="@{images/Arla_Foods_logo.svg.png}" src="..\static\css\images\Arla_Foods_logo.svg.png"  >
    </div>

    <div class="column, centerpicture" >

            <img class="centerpicture" th:src="@{images/fødevarebanken.png}" src="..\static\css\images\fødevarebanken.png" >
        </div>
    </div>
</main>

<footer>
    <div class="footerflex">
        <div>
            <h3>Section 1</h3>
            <hr>
            <p>Privatlivspolitik</p>
            <p>Cookies</p>
        </div>
        <div>
            <h3>Kontaktinformation</h3>
            <hr>
            <p>Adresse:</p>
            <p>Postnummer:</p>
            <p>By:</p>
            <p>Telefon:</p>
        </div>
        <div>
            <h3>Populære links</h3>
            <hr>
            <p>Loginside</p>
            <p>FAQ</p>
            <p>Kontakt os</p>
            <p>Karriere</p>
        </div>
    </div>
</footer>
</body>
</html>