<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cssstyles.css" th:href="@{css/cssstyles.css}" >
    <title>Title</title>
</head>
<body class="background">
<nav>
    <label class="logo">StillGood</label>
    <button class="button button1">Contact</button>
    <button class="button button2">Login</button>
    <ul>
        <li><a class="active" href="#">Privat</a></li>
        <li><a href="#">Virksomhed</a></li>
        <li><a href="#">Sponsor</a></li>
    </ul>
</nav>
</div>
<!--<div class="flex roundedcorners margin"> </div>
<div class="flex roundedcorners margin"> </div>
<div class="flex roundedcorners margin"> </div>
-->
<h1 style="font-size:4vw; font-family: Broadway "  class="textcenter">Sponsorer</h1>
        <div  class="row">

    <div class="column, centerpicture">
<img class="centerpicture"  th:src="@{image/regionhovedstaden.png}" src="..\static\css\images\regionhovedstaden.png" style="width:75%;">
    </div>

    <div class="column, centerpicture">
<img class="centerpicture" th:src="@{image/netto-logo.png}" src="..\static\css\images\netto-logo.png" >
    </div>

    <div class="column, centerpicture">
<img class="centerpicture" th:src="@{image/føtex-logo.png}" src="..\static\css\images\føtex-logo.png" >
    </div>

    </div>

    <div class="row">
    <div class="column, centerpicture">
<img class="centerpicture"  th:src="@{image/cooplogo.png}" src="..\static\css\images\cooplogo.png" >
    </div>

    <div class="column, centerpicture">
<img class="centerpicture" th:src="@{images/Arla_Foods_logo.svg.png}" src="..\static\css\images\Arla_Foods_logo.svg.png"  >
    </div>

    <div class="column, centerpicture" >

            <img class="centerpicture" th:src="@{images/fødevarebanken.png}" src="..\static\css\images\fødevarebanken.png" >
        </div>
    </div>
</body>
</html>