<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cssstyles.css" th:href="@{css/cssstyles.css}" >
    <title>Title</title>
</head>
<body class="background marginzero">

    <h2 class="margin"> Welcome to the Front Page</h2>
    <div class="navbar marginzero">
        <h2 class="flexrow">
            <div>
                Navbar
            </div>
            <div>
                |
            </div>
            <div>
                Link
            </div>
            <div>
                |
            </div>
            <div>
                Link
            </div>
        </h2>
    </div>
</body>
</html>