<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cssstyles.css" th:href="@{css/navbarcss.css}" >
    <title>Navbar</title>
</head>
<body>
    <header>
        <img class="logo" src="statc/images/logo.jpg" alt="logo">
            <nav>
                <ul class="navlinks">
                    <li><a href="#">Private</a> </li>
                    <li><a href="#">Virksomheder</a> </li>
                    <li><a href="#">Ting Ting</a> </li>
                </ul>
            </nav>
        <a class="cta" href="#"><button>Contract</button></a>
    </header>

</body>
</html>