<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/navbarcss.css" th:href="@{css/navbarcss.css}" >
    <title>Navbar</title>
</head>
<body>
    <nav>
        <label class="logo">StillGood</label>
        <button class="button button1">Contact</button>
        <button class="button button2">Login</button>
        <ul>
            <li><a class="active" href="#">Privat</a></li>
            <li><a href="#">Virksomhed</a></li>
            <li><a href="#">Sponsor</a></li>
        </ul>
    </nav>
</body>
</html>