<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cssstyles.css" th:href="@{css/cssstyles.css}">
    <title>Opret virksomhed</title>
</head>
<body class="background">

    <div class="opret-virksomhed">
        <h1>Opret din virksomhed hos STILL_GOOD</h1>

        <p>Virksomhedsnavn</p>
        <input placeholder="ACME Studios"> </br>

        <p>Email</p>
        <input placeholder="sga@acme.com"></br>

        <p>Adgangskode</p>
        <input placeholder="*******"></br>

        <p>Postnummer</p>
        <input placeholder="8000"></br>
        </br>
        <button>Opret virksomhed</button>
    </div>



</body>
</html>