<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cssstyles.css" th:href="@{css/navbarcss.css}" >
    <title>My WebPage</title>
</head>
    <!-- Navigation content goes here -->
<body class="background">
    <nav class="nav">
        <label class="logo">StillGood</label>
        <button class="button button1">Contact</button>
        <button class="button button2">Login</button>
        <ul>
            <li><a href="#">Privat</a></li>
            <li><a th:href="@{/opret-virksomhed}" href="opret-virksomhed.html">Virksomhed</a></li>
            <li><a th:href="@{/#sponsorlink}" href="forside.html">Sponsor</a></li>
        </ul>
    </nav>
</nav>
<main>
    <!-- Main content goes here -->
    <div class="privatcontainer">
        <div class="overskrift">Tips og tricks til genbrug og madpspild</div>
        <br>
        <div class="outercontainer">
            <div class="item item1"><a th:href="@{/tipstilindkob}" href="tipstilindkob.html">Tips til indkøb </a></div>
            <div class="item item2"><a href="#Kompost">Kompost</a></div>
            <div class="item item3"><a href="#Opbevaring">Opbevaring</a></div>
            <div class="item item4"><a href="#Genbrug">Genbrug</a></div>
            <div class="textbox textbox1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        </div>
    </div>
</main>
<footer>
    <!-- Footer content goes here -->
    <div class="footerflex">
        <div>
            <h3>Section 1</h3>
            <p>Privatlivspolitik</p>
            <p>Cookies</p>
        </div>
        <div>
            <h3>Kontaktinformation</h3>
            <p>Adresse:</p>
            <p>Postnummer:</p>
            <p>By:</p>
            <p>Telefon:</p>
        </div>
        <div>
            <h3>Populære links</h3>
            <p>Loginside</p>
            <p>FAQ</p>
            <p>Kontakt os</p>
            <p>Karriere</p>
        </div>
    </div>
</footer>
</body>
</html>