<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cssstyles.css" th:href="@{css/cssstyles.css}">
    <title>BookingSkema</title>

</head>
<body class="background">
  <nav class="nav">
    <label class="logo">StillGood</label>
    <button class="button button1">Contact</button>
    <button class="button button2">Login</button>
    <ul>
      <li><a th:href="@{/privat}" href="privat.html">Privat</a></li>
      <li><a th:href="@{/opret-virksomhed}" href="opret-virksomhed.html">Virksomhed</a></li>
      <li><a th:href="@{/#sponsorlink}" href="forside.html">Sponsor</a></li>
    </ul>
  </nav>


<main>
    <h2 CLASS="textcenter">Lokation tættest på din adresse</h2>
  <div class="locationspicture">
    <img class="centerpicture" th:src="@{image/locations/københavnlokation.png}" src="..\static\css\images\locations\københavnlokation.png" >
  </div>


  <h2 class="textcenter">Hvornår skal folk hente ting?</h2>
    <div class="flexrow">
      <div class="roundedcorners">
        <h3>Pickup Plan 1</h3>
        <p><b>Dage: </b>Alle Hverdage</p>
        <p><b>Tidspunk: </b>kl 8:00-9:00</p>
        <p><b>Frekvens: </b>Hver uge</p>
        <Span><button>Vælg</button></Span>
      </div>
      <div class="roundedcorners">
        <h3>Pickup Plan 2</h3>
        <p><b>Dage: </b>Onsdag og Fredag</p>
        <p><b>Tidspunk: </b>kl 8:00-9:00</p>
        <p><b>Frekvens: </b>Hver uge</p>
        <Span><button>Vælg</button></Span>
      </div>
      <div class="roundedcorners">
        <h3>Pickup Plan 3</h3>
        <p><b>Dage: </b>Fredag</p>
        <p><b>Tidspunk: </b>kl 8:00-9:00</p>
        <p><b>Frekvens: </b>Hver uge</p>
        <Span><button>Vælg</button></Span>
      </div>
    </div>
  <br><br>
</main>


  <footer>
    <div class="footerflex">
      <div>
        <h3>Section 1</h3>
        <p>Privatlivspolitik</p>
        <p>Cookies</p>
      </div>
      <div>
        <h3>Kontaktinformation</h3>
        <p>Adresse:</p>
        <p>Postnummer:</p>
        <p>By:</p>
        <p>Telefon:</p>
      </div>
      <div>
        <h3>Populære links</h3>
        <p>Loginside</p>
        <p>FAQ</p>
        <p>Kontakt os</p>
        <p>Karriere</p>
      </div>
    </div>
  </footer>

</body>
</html>